.forBackground {
  width: 100%;
  background-size: cover;
  background-image: url("../images/heroBackground.jpg");
  background-repeat: no-repeat;
}
.searchForm {
  display: block;
  @extend %center-align;
}
.wrapper {
  width: 85%;
  @extend %center-align;

  @include mq(small) {
    display: flex;
    justify-content: space-between;
  }
}
.button {
  @extend %center-align;
  width: 25rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
  text-align: center;
  font-weight: bold;
  background: $action-color;
  padding: 2rem 5rem;
  border-radius: 0.5rem;
}
