header {
  background: rgba(0, 0, 0, 0.2);
  text-align: right;
  width: 100%;
  h1 {
    float:left;
    width: 40%;
  }
  img {
    width: 100%;
    padding: 2rem 0 0 2rem;
  }
  nav {
    float: right;
    padding-bottom: 2rem;
    li {
      padding-right: 4rem;
    }
  }
  a {
    color: #DDD;
    font-size: 1rem;

    &:hover {
      color: white;
    }
  }
  span {
    color: $primary-color;
  }
  button {
    text-indent: -999rem;
    background-color: transparent;
    background-image: url("../images/hamburger.png");
    background-repeat: no-repeat;
    background-size: 2rem;
    height: 2rem;
    width: 2rem;
    margin-top: 2rem;
  }
}
