// #results {
//   .wrapper {
//     @extend %center-align;
//   }
//   h2 {
//     margin: 2rem 0 2rem 0;
//     padding-left: 0.3rem;
//     font-size: $font-size;
//     color: $primary-color;
//     background: $seconday-color;
//     width: 25rem;
//   }
//   article {
//     width: 25%;
//     display: inline-table;
//     padding-bottom: 5rem;
//
//     img {
//       width: 80%;
//       height: 200%;
//     }
//     h3, p {
//       @include article-description($seconday-color, $primary-color, 100%, 0.2rem);
//     }
//     // p {
//     //   @include article-description($seconday-color, $primary-color, 90%, 0.2rem);
//     // }
//   }
//   a {
//     font-size: 1.3rem;
//     color: #222;
//   }
// }

// mobile size
#results {
  .wrapper {
    @extend %center-align;
  }
  h2 {
    margin: 2rem 0 2rem 0;
    padding-left: 0.3rem;
    font-size: 1.3rem;
    color: $primary-color;
    background: $seconday-color;
  }
  article {
    display: flex;
    overflow: auto;
    background-color: $seconday-color;
    margin-bottom: 1rem;
    img {
      width: 40%;
      height: 100%;
    }
    h3, p {
      @include article-description($seconday-color, $primary-color, 1rem, 1rem);
    }
    h3 {
      padding-top: 0.6rem;
      color: #FF0000;
      filter: brightness(95%);
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
  }
  a {
    font-size: 1.3rem;
  }
}
