#search {
  form {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 80%;
    margin-left: auto;
    position: relative;
    margin-right: auto;
  }
  label {
    text-align: left;
    display: block;
    background: $seconday-color;
    color: $primary-color;
    width: 20rem;
    font-size: 0.8rem;
    padding-left: 0.5rem;
    @include mq(small) {
      font-size: 1.2rem;
      width: 25rem;
    }
    @include mq(medium) {
      font-size: 1.6rem;
      width: 34rem;
    }
    @include mq(large) {
      font-size: 2rem;
      width: 42rem;
    }
  }
  input {
    display: block;
    height: 3rem;
    width: 100%;
    background: $primary-color;
    padding: 0 2.5rem 0 1rem;
    @include mq(medium) { height: 4.5rem; }
    @include mq(large) {
      height: 5.4rem;
      font-size: 2rem;
      padding-right: 5.5rem;
    }

  }
  button {
    background-image: url("../images/search.png");
    background-color: transparent;
    @extend %hide-text;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 0.5rem;
    top: 6.8rem;
    background-size: 2rem;
    background-repeat: no-repeat;
    @include mq(small) { top: 7.2rem; }
    @include mq(medium) { @include search-placement(8.2rem, 3rem); }
    @include mq(large) { @include search-placement(8.7rem, 4rem); }
  }
}
